# Example environment variables for the application

POSTGRES_USER=myuser
POSTGRES_PASSWORD=mypassword
POSTGRES_DB=barbod_db
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0
REDIS_POOL_SIZE=10

MINIO_PORT=9000
MINIO_PANEL_PORT=9001
MINIO_HOST=localhost
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadminpassword

SERVER_PORT=8080

CONSOLE_OUTPUT=true
LOG_FILE=logs/app.log

SERVER_MODE=debug


# OTP Configuration
OTP_LENGTH=6
OTP_EXPIRATION_MINUTES=5
OTP_MAX_ATTEMPTS=5
OTP_BACKDOOR_CODE=123456

# SMS Gateway
SMS_GATEWAY_API_KEY=sms_api_key # has not yet been implemented