<!DOCTYPE html>
<html dir="rtl" lang="fa">
<head>
    <meta charset="UTF-8">
    <style>
        @import url('https://cdn.jsdelivr.net/gh/rastikerdar/vazirmatn@v33.003/Vazirmatn-font-face.css');
        body { font-family: Vazirmatn, Arial, sans-serif; direction: rtl; text-align: right; }
        .container { padding: 20px; }
        .header { background-color: #f8f9fa; padding: 10px; }
    </style>
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>به سرویس ما خوش آمدید!</h1>
        </div>
        <p>سلام <strong>{{.Name}}</strong> عزیز،</p>
        <p>حساب کاربری شما با موفقیت ایجاد شد. کد ورود شما: <b>{{.LoginCode}}</b></p>
        <p>با تشکر،<br>تیم باربد</p>
    </div>
</body>
</html>